# 01.intro

## win shortcut

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 새로운 셀 만들며 이동

## mac shortcut

- command + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- option + enter : 현재 셀 실행 & 새로운 셀 만들며 이동

## 주의사항

1. Apple/apple
2. git add. / git add .
3. message / massage

# 01. 변수

```
var_name = value
A = B : B를 A에 넣는다
```
- 변수 이름은 어떤 이름이든 사용 가능하나 영어, 숫자, _ 로만 써보자
- 키워드는 불가능

In [9]:
a = 100

In [10]:
a

100

In [11]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## 1.1 number

In [12]:
a = 10000

In [13]:
a

10000

- 아까 선언한 a에 덮어쓰기 되었습니다

In [14]:
type(a)

int

In [15]:
b = 1.1

In [16]:
b

1.1

In [17]:
type(b)

float

In [18]:
c = 1 + 1j

In [19]:
c

(1+1j)

In [20]:
type(c)

complex

## 1.2 boolean

In [22]:
a = True

In [23]:
a

True

In [24]:
type(a)

bool

In [25]:
b = False

In [26]:
b

False

## 1.3 string
- 문자열을 뜻하며 `'`, `"`를 이용하여 표현

In [27]:
a = 'hello'

In [28]:
b = "hi"

In [29]:
a

'hello'

In [30]:
b

'hi'

In [31]:
print('hello my name is "dbstlr"')

hello my name is "dbstlr"

In [40]:
print("hello my name is 'dbstlr'")

hello my name is 'dbstlr'

In [36]:
print('hi\n my name is \'dbstlr\'')

hi
 my name is 'dbstlr'

In [38]:
a = '''
hello
world
hi
'''

In [41]:
a

'\nhello\nworld\nhi\n'

In [42]:
n = 10
b = '홍길동은 n살입니다'

### string interpolation

- %-formatting
- str.format()
- f-string

In [43]:
age = 10

In [45]:
print('홍길동은 %s살입니다' % age)

홍길동은 10살입니다

In [51]:
print('홍길동은 {}살입니다'.format(age))

홍길동은 10살입니다

In [53]:
print(f'홍길동은 {age}살입니다')

홍길동은 10살입니다

# 02. 연산자

## 2.1 산술연산자

In [65]:
a = 5
b = 2

In [66]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
3
10
2.5

In [67]:
print(a ** b)
print(a // b) # 몫만 표시
print(a % b) # 몫이 아닌 나머지를 표시

25
2
1

In [69]:
result = divmod(a, b) # a를 b로 나눔
print(result) # 튜플

(2, 1)

## 2.2 비교연산자(>, <, ==, !=...)

In [112]:
a = 5
b = 10

In [77]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b/2)
# 검토하는 거임

False
True
False
True
True

In [78]:
print(a == b)
print(a != b)

False
True

In [79]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3 논리연산자
- and : 양쪽 모두 True 일 때, True를 반환
- or : 양쪽 모두 False 일 때, False를 반환
- not : 상태를 부정

In [81]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [82]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [85]:
a = True
print(not a)

False

In [89]:
# 단축평가
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)
print(5 and 3)

5
0
0
0
3

In [90]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)
print(5 or 3)

3
3
5
0
5

## 2.4 복합연산자

In [120]:
a = 2
b = 3

In [121]:
a = a + b # 사칙연산 다됨
a = a - b
a = a * b
a = a / b

In [122]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

In [123]:
type(a)

float

## 2.5 기타연산자

In [124]:
a = 'hi'
b = 'hello'

In [127]:
print(a + b) # 문자열과 문자열의 +는 concatenation(연결)이다
print(a + 1)
print(1 + b)

hihello

TypeError: can only concatenate str (not "int") to str

In [128]:
a = [1, 2, 3]
b = [2, 3, 4]

In [129]:
print(a + b) # list에서는 concatenation을 동작시킨다

[1, 2, 3, 2, 3, 4]

In [131]:
print(2 in a)
print(10 in a)

True
False

In [138]:
a = 500
b = 500

In [139]:
print(a == b) # 값이 같은지 비교
print(a is b) # 객체로서 같은지 비교

True
False

### 연산자 우선순위
 0. ()를 통해서 그룹힝
 1. ** (제곱)
 2. 산술연산자(*, /)
 3. 산술연산자(+, -)
 4. 비교연산자(=, >, in, is..)
 5. not
 6. and
 7. or

# 03. 형변환

## 3.1 암시적 형변환

In [140]:
a = True
b = False
c = 1

In [153]:
print(a + b)
print(a + c)

1
124

## 3.2 명시적 형변환
- int()
- float()
- str()
- bool()

In [143]:
a = 1
b = '반'

In [144]:
print(str(a) + b)

1반

In [145]:
a = '3'
print(a)

3

In [147]:
print(type(a))
print(int(a))

<class 'str'>
3

In [148]:
c = 'apple'
d = int(c)

ValueError: invalid literal for int() with base 10: 'apple'

In [149]:
a = 1
b = 0
c = 123
d = -123
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))

True
False
True
True

In [150]:
# 0만 False

In [151]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

In [154]:
# 리스트(배열) 안에 데이터가 있으면 1이상이므로 True, 없으면 0이므로 False

# 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조(순서대로 나열된 것과 정렬된 것은 다르다)

- 1. List
  2. Tuple
  3. Range
  4. String

## 4.1 List (리스트, 배열)
- 선언 : `var_name = [value1, value2, ...]`
- value : boolean or string or another list...etc.
- 접근 : `var_name[index]`

In [3]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [8]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])
print(location[1])

location[1] = '인천'
print(location)

['서울', '대전', '부산']
서울
대전
['서울', '인천', '부산']

## 4.2 Tuple
- 선언 : `var_name = [value1, value2, ...]`
- 접근 : `var_name[index]`
- 수정불가능하다(immutable)

In [9]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [10]:
location[2] = '붓싼'

TypeError: 'tuple' object does not support item assignment

In [11]:
result = divmod(5, 2)
print(result)
print(type(result))

(2, 1)
<class 'tuple'>

x = 1
y = 2 일 경우
- 대부분의 언어에서는
```
temp = x
x = y
y = temp
```
- 파이썬에서는
```
(x, y) = (y, x)
```
하면 x와 y가 바뀐다

## 4.3 Range

In [15]:
lotto = range(45)
print(lotto)
print(list(lotto))
# 로또에 없는 0이 있고, 로또에 있어야 하는 45가 없음

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [16]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [17]:
even = range(2, 20, 2)
# even은 짝수의 의미를 가지고 있다
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
even = range(2, 21, 2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 String
- 기본 데이터 구조를 참고한다
- 알파벳들의 순서(순서는 시퀀스, 시퀀스는 순서)

## 4.5 시퀀스에서 활용가능한 연산/함수

In [23]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = 'ㄱㄴㄷㄹㅁ'

In [24]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
ㄱ

In [28]:
# slicing(자르다)
# var_name[index1:index2] index2는 n-1
print(my_list[0:2])
print(my_tuple[2:5])
print(my_range[0:2])
print(my_string[2:5])

['a', 'b']
(8, 9, 10)
range(0, 2)
ㄷㄹㅁ

In [30]:
# 인덱스 생략
print(my_list[0:])
# 근데 0은 의미가 없어어서 보통 다른 숫자를 넣는다
print(my_list[:])
print(my_list[3:])
print(my_list[:3])

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['d', 'e']
['a', 'b', 'c']

In [36]:
# 음수 인덱스(뒤에서부터 세는 것)
print(my_list[-1])
print(my_list[-3:])
print(my_list[-3:-1])

e
['c', 'd', 'e']
['c', 'd']

In [42]:
# step
print(my_list[::2])

['a', 'c', 'e']

In [55]:
# in
print(1 in my_list)
print('a' in my_list) # 복수의 값이 들어있는지 확인은? and연산자 사용?
print('a' not in my_list)
print('a' and 'b' in my_list)

False
True
False
True

In [53]:
# concatenation 문자열은 연결할 수 있다

In [54]:
# * (concatenation을 여러번 할 때)
print(my_list * 2)

# [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print([0] * 10)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [58]:
len(my_list)

5

In [57]:
max(my_list)

'e'

In [59]:
print(len(my_list))
print(max(my_list))

5
e

In [60]:
min(my_range)

0

# 5. 시퀀스형이 아닌 자료구조

## 5.1 Set
- 수학에서의 집합이랑 비슷한 개념 (중복값이 없음)
- 단일데이터에 접근 하는것이 아니라 데이터 덩어리를 연산에 사용하는 개념으로 '접근'개념이 없음

- 선언 : var_name = {value1, value2, ...}

In [61]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5, 5, 5}
my_set_b = {1, 3, 5, 7, 9}

In [62]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [64]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [65]:
location = [] #이건 복붙하자

# set으로 형변환해서 중복값 제거할 수 있다

## 5.2 Dictionary
- 띄어쓰기 중요, 키를 기준으로 접근한다. value를 기준으로 접근 불가
- 선언 : `var_name = {key1: value1, key2: value2, ...}`
- 접근 : `var_name[key]`

In [66]:
my_dict = {'서울': '02', '경기': '031', '인천': '032'}
print(my_dict['서울'])

02

In [67]:
my_dict = {
    '서울': '02',
    '경기': '031',
    '인천': '032'
}

In [69]:
my_info = {
    'name': 'yoonsick',
    'location': '인천',
    'age': 39,
    'skill': ['python', 'git']
}

In [70]:
print(my_info['name'])
print(my_info['age'])

yoonsick
39

In [71]:
print(my_info['skill'][1])

git

### 데이터 타입
1. Number
2. Boolean
3. String

### 자료구조
- 시퀀스
1.