# 제어문

## 조건문 (if)
1. if는 만드시 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다.
    - `if <조건식>:`
2. `<조건식>`이 참 : `:` 이후의 문장을 실행
3. `<조건식>`이 거짓 : `else:` 이후의 문장을 실행

```
if <조건식>:
    조건이 참인 경우 실행하는 코드
else:
    조건이 거짓인 경우 실행하는 코드
```

In [37]:
my_string = input()
print(my_string)

if my_string == '12/25': # 이거 이따가 여쭤보자 
    print('merry christmas!')
else:
    print('No')

 1/1

1/1
No

In [15]:
num = input('숫자를 입력해주세ㅐ요')

if int(num) % 2 == 1:
    print('odd')
else:
    print('even')

숫자를 입력해주세ㅐ요 123

odd

In [20]:
num = int(input('숫자를 입력하면 type을 int로 바꿔줍니다. 홀수인가요?'))

if num % 2 == 1:
    print('odd')
else:
    print('even')

숫자를 입력하면 type을 int로 바꿔줍니다. 홀수인가요? 123

odd

In [21]:
num = int(input('짝수인가요?'))

if num % 2 == 0:
    print('even')
else:
    print('odd')

짝수인가요? 123

odd

In [22]:
num = int(input('숫자를 입력하면 type을 int로 바꿔줍니다. 홀수인가요?'))
# if는 자동으로 형변환해주는 성격이 있고 '== 블라블라'를 안적으면 'True == 1' 로 동작한다
if num % 2:
    print('odd')
else:
    print('even')

숫자를 입력하면 type을 int로 바꿔줍니다. 홀수인가요? 123

odd

In [29]:
num = int(input('5의 배수인지 판단해드리겠습니다'))

if num % 5:
    print('no')
else:
    print('yes')

5의 배수인지 판단해드리겠습니다 0

yes

### elif

```
if <조건식>:
    if가 참인 경우
elif <조건식>:
    elif가 참인 경우
else:
    위의 모든 조건이 거짓인 경우
```

In [30]:
score = int(input())

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 95

A

In [31]:
score = int(input())

if score >= 90:
    print('A')
    if score >= 95:
        print('good!!!')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 99

A
good!!!

### 조건표현식
- `true_value if <조건식> else false_value`

In [1]:
a = 0
if True:
    a = 100
else:
    a = -100
print(a)

100

In [15]:
a = 100 if False else -100
print(a)

-100

In [3]:
num = int(input())

if num >= 0:
    result = num
else:
    result = 0
print(result)

 -100

0

In [12]:
num = int(input())

result = num if num >= 0 else 0
print(result)

 -10

0

In [13]:
num = 9

result = '홀수' if num % 2 else '짝수'
print(result)

홀수

In [14]:
num = 10

if num % 2:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

## 반복문

### while
- 조건식이 '참'인 동안 코드를 실행하고, 참이 아니면 동작중단
```
while <조건식>
    실행할 코드
```

In [16]:
a = 0

while a < 5:
    print(a)
    a += 1 # a += 1 이 수식은 a = a + 1 과 같다

0
1
2
3
4

### for
- 정해진 범위 내의 반복을 할때 쓴다
```
for variable in sequence:
    code
```

#### 시퀀스 에서의 for문

In [17]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [22]:
word = 'apple'

for char in word:
    print(char)

a
p
p
l
e

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
numbers = range(1, 51)

for number in numbers:
    if number % 5 == 0:
        print(number)

5
10
15
20
25
30
35
40
45
50

In [25]:
locations = ['서울', '대전', '붓싼']
for location in enumerate(locations):
        print(location)

(0, '서울')
(1, '대전')
(2, '붓싼')

In [26]:
locations = ['서울', '대전', '붓싼']
for (index, location) in enumerate(locations):
    print(index)    
    print(location)

0
서울
1
대전
2
붓싼

### dictionary 반복
1. for key in dict:
2. for key in dict.keys(): `윗줄과 완전히 똑같음`
3. for value in dict.values():
4. for key, value in dict.items():

In [27]:
info = {
    'name': 'yoonsick',
    'location': 'in-cheon',
    'phone': '010-8744-7428',
    'age': 39,
}

In [28]:
for k in info:
    print(k)

name
location
phone
age

In [33]:
for k in info.keys():
    print(k)
    print(info[k])

name
yoonsick
location
in-cheon
phone
010-8744-7428
age
39

In [31]:
for v in info.values():
    print(v)

yoonsick
in-cheon
010-8744-7428
39

In [32]:
for k, v in info.items():
    print(k, v)

name yoonsick
location in-cheon
phone 010-8744-7428
age 39

In [34]:
blood_type = {
    'A': 15,
    'B': 8,
    'O': 12,
    'AB': 2
}

In [36]:
# 혈액형은 ~가 있습니다
print('혈액형 종류는 다음과 같습니다')

for blood in blood_type:
    print(blood)

혈액형 종류는 다음과 같습니다
A
B
O
AB

In [40]:
# 총 학생은 몇명 입니다
result = 0
for number in blood_type.values():
    result = result + number
print(result)

37

In [44]:
for k, v in blood_type.items():
    print(f'{k}형은 {v} 명입니다')

A형은 15 명입니다
B형은 8 명입니다
O형은 12 명입니다
AB형은 2 명입니다

### break
- 반복문을 종료시키는 키워드

In [46]:
for i in range(10):
    print('for 위치', i)
    if i > 5:
        print('break 위치')
        break

for 위치 0
for 위치 1
for 위치 2
for 위치 3
for 위치 4
for 위치 5
for 위치 6
break 위치

In [47]:
while True:
    rice = input()
    if rice == '쌀':
        print('잡았다!!')
        break

 보리
 보리
 ㅇㅇ
 쌀

잡았다!!

### continue

continue 이후의 코드를 실행하지 않고(스킵하고) 다음 반복을 진행

In [49]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [50]:
ages = [10, 20, 30, 23, 43, 9, 20]
for age in ages:
    if age < 20:
        continue
    print(f'{age}세 = 성인입니다')

20세 = 성인입니다
30세 = 성인입니다
23세 = 성인입니다
43세 = 성인입니다
20세 = 성인입니다

### else
- else 문은 끝까지 반복된 경우 실행됨
== break를 만나지 않은 경우

In [65]:
for i in range(10):
    if i > 9:
        break
    print(i)
else:
    print('모두완료!')

0
1
2
3
4
5
6
7
8
9
모두완료!