# 함수(funtion)

In [1]:
# 사각형의 가로와 세로의 길이를 이용하여 면적과 둘레를 구하는 코드

height = 50
width = 20

area = height * width
perimeter = (height + width) * 2

print(f'사각형의 면적은 {area}이고 둘레는 {perimeter}입니다')

사각형의 면적은 1000이고 둘레는 140입니다

## 함수의 선언과 호출
- 선언
```python
def func_name(none or parameter1, parameter2, ...):
    code1
    code2
    ...
    return value
```

- 호출
`func_name(parameter1, parameter2, ...)`

In [2]:
def rectangle(width, height):
    area = width * height
    perimeter = (width + height) * 2

    print(f'사각형의 면적은 {area}이고 둘레는 {perimeter}입니다')

In [4]:
rectangle(50, 30)
rectangle(20, 100)

사각형의 면적은 1500이고 둘레는 160입니다
사각형의 면적은 2000이고 둘레는 240입니다

In [19]:
# dir(__builtins__) == 파이썬이 기본으로 가지고 잇는 함수 리스트

In [7]:
max(1, 100)

100

In [17]:
def my_max(a, b):
    if a > b:
        print(a)
    elif a < b:
        print(b)
    else:
        print("같습니다")
        # max_int = max(a, b)

    # print(f'가장 큰 값은 {max_int}입니다')

In [18]:
my_max(1, 2)
my_max(2, 1)
my_max(2, 2)

2
2
같습니다

## 함수의 return

- 함수가 return을 만나면 해당값 반환하고 함수를 종료
- 만약 return이 없는 경우 none을 자동으로 반환
- return은 오직 하나의 객체만 반환한다

In [20]:
result = my_max(2, 5)
print(result)
# result * 2

5
None

In [1]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    elif num1 < num2:
        return num2
    else:
        pass

In [3]:
result = my_max2(3, 4)
print(result)

4

In [7]:
def my_def(x):
    return x * 2, x
# == return (x * 2, x)

my_def(10)

(20, 10)

In [9]:
def my_for(x): # 반복문을 x번 실행할지
    for i in range(x):
        print(i)
        if i == 3:
            return i
        

my_for(5)

0
1
2
3

3

In [28]:
# 각 리스트의 합 중 큰값을 반환하도록
def my_list_max(a, b):
    sum_of_a = 0 # << 0으로 리셋하여 누적 '합'을 하려할 때 0으로 한다
    sum_of_b = 0 # << 누적 '곱'을 구하려면 1로 바꿔야 한다
    
    for i in a:
        sum_of_a += i

    for i in b:
        sum_of_b += i
    
    if sum_of_a > sum_of_b:
        return a
    elif sum_of_a < sum_of_b:
        return b
    else:
        return a, b

In [35]:
# version 3
def my_list_max(a, b):
    sum_of_a = sum(a)
    sum_of_b = sum(b)

    if sum_of_a > sum_of_b:
        return a
    elif sum_of_a < sum_of_b:
        return b
    else:
        return a, b

In [33]:
my_list_max([1, 2, 3], [2, 3, 4])

[2, 3, 4]

### 함수의 인수(데이터를 어떻게 넣을 것인가)

#### 위치인수
- 기본적으로 함수는 위치를 기준으로 인수를 판단합니다

In [1]:
#원기둥의 부피를 구해보자
def cylinder(r, h):
    return 3.14 * r ** 2 * h

In [3]:
cylinder(3, 10)

282.6

In [4]:
cylinder(10, 3)

942.0

#### 기본값
```python
def furc_name(parameter1=value1):
    code1
    return value
```

In [34]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다'

In [35]:
greeting()

'익명님 반갑습니다'

In [38]:
print('안녕하세요', '반갑습니다', sep='***', end='\n')

안녕하세요***반갑습니다

In [39]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살 입니다'

In [40]:
greeting(10)

'익명님의 나이는 10살 입니다'

#### 키워드 인수
- 함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 값을 전달

In [41]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살 입니다'

In [45]:
greeting(10, '윤식')
greeting(10)
greeting(name='dbstlr', age=10)

'dbstlr님의 나이는 10살 입니다'

#### 가변인자 리스트
- 인자가 몇개 들어올지 모르겟는데 암튼 그 많은걸 PARMS로 정의해서 쓸거야 하는 뜻
```python
def func_name(*parms): #parameters
    code1
    code2
    ...
    return value
```

In [46]:
print(1, 2, 'qwer') # 인자를 몇 개를 넣든 다 작동한다

1 2 qwer

In [47]:
def my_print(*words):
    print(words)

In [49]:
my_print('my', 'name', 'is')

('my', 'name', 'is')

In [50]:
max(1, 2, 3, 4, 54)

54

In [2]:
def my_max(*ints):
    max_int = ints[0] # 시작점
    for int in ints:
        if max_int < int:
            max_int = int
    
            
    return max_int

In [3]:
my_max(100, 2, 3, 4, 56)

100

In [4]:
my_max(-1, -2, -3, -4)

-1

### 정의되지 않는 키워드 인자 처리하기
```python
def func_name(**kwargs):
    return value
```

In [10]:
# dict 로 활용해보겟습니다
info = {
    'name': 'hong',
    'age': 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [11]:
info = dict(name='kim', age=39)
print(info)

{'name': 'kim', 'age': 39}

In [12]:
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf='qwer', age=39, test='asdf')

{'asdf': 'qwer', 'age': 39, 'test': 'asdf'}

In [19]:
#                           가변인자리스트  undfinition
def my_func(params1, params2='temp', *numbers, **kwargs):
    return 0

In [24]:
# my_func() => params1 부족으로 에러
my_func(123)
# => params1 = 123, params2 = 'temp'
my_func(123, 234)
# => params1 = 123, params2 = 234
my_func(123, 234, 345, 456, 567, 789)
# => params1 = 123, params2 = 234, numbers = (345, 456, 567, 789) 튜플형태로
my_func(123, 234, 345, 456, 567, 789, a=1, b=2, c=3)
# kwargs = {a: 1, b: 2, c: 3}

0

### lambda 표현식(익명함수, 임시함수..)
- 임시함수라고하는 1회용 함수라는 의미
```python
lambda parameter: expression
```

In [26]:
def my_sum(num1, num2):
    return num1 + num2

In [27]:
my_sum(1, 2)

3

In [29]:
(lambda num1, num2: num1 + num2)(1, 2)

3

### 타입힌트(250217기준 체신문법!!!)

In [31]:
def my_sum(a, b):
    return a + b
my_sum(1, 2) # my_sum이라고 써넣으면 대강 무슨 뜻인지 유추가 되는데

def something(a, b):
    return a + b
something(1, 2) # 이렇게 써넣으면 이게 뭔뜻인지 읽는 사람기준에서 알기가 어렵다
# => 결과값은 3이라고 나올것

3

In [32]:
something(1, 2)

3

In [33]:
def something(a: int, b: int):
    return a + b

In [37]:
something('asdf', 'qwer') # int라고 힌트 기입해도 함수에 영향을 주는거까지는 아니다

'asdfqwer'

### 이름공간(namespace), 스코프(scope)
- python에서 사용하는 이름들은 이름공간에 저장되어 있읍니다(변수이름, 함수이름, ...) LEGB 룰에 따라 접근
- L이 가장 작고 B로 갈 수록 크다
1. Local : 정의된 함수 내부
2. Enclosed : 상위함수
3. Global : 함수 밖
4. Built-in : python이 기본적으로 가지고 있는 함수

In [39]:
# ex 스코프에 대한 이해
result = str(123) # 여기서 str은 built-in 함수를 사용햇다
print(result)

123

In [45]:
str = 'hello'

In [46]:
result = str(123) # 여기서 str은 local에서 정의된 '변수'를 사용해서 호출이 안됐다
print(result)

TypeError: 'str' object is not callable

In [43]:
del str # 변수를 강제로 삭제하고 다시 실행시키면 정상작동한다

In [48]:
a = 1

def local_scope(a):
    return a # a를 그대로 반환하는 함수를 만들어보앗다

a= '가나다라'

local_scope('asdf')

'asdf'

In [53]:
my_list = [1, 2, 3 , 4, 5]
for i in my_list:
    print(i)
print(i)

1
2
3
4
5
5

In [54]:
a = 0

def global_scope():
    global a # 함수 밖에 있었던 a = 0을 쓰겠습니다 라는 뜻. global a 안썼으면 함수안에 a가 정의되지 않아서 에러가 뜸
    a = a + 1
    return a

global_scope()

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

### 재귀함수
함수 내부에서 자기 자신을 호출하는 함수

```
n! = 1 * 2 * 3 * ... * n

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n
```

In [55]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return factorial(n-1) * n

In [57]:
factorial(6)

720

재귀함수는 함수 'a' 안에 if문 들어가고 else return에 함수 'a'가 들어간다
이렇게 팩토리얼 다음으로 많이 쓰는게 피보나치 수열인 점을 참고하자
1 2 3 5 8 13 ...

In [62]:
def fib(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-2) + fib(n-1)