# Error

## syntax error

In [1]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [2]:
print('hello)

SyntaxError: unterminated string literal (detected at line 1) (3574047905.py, line 1)

In [3]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

In [4]:
print('hello'

_IncompleteInputError: incomplete input (3871997710.py, line 1)

## exception

In [7]:
print(5/0)

ZeroDivisionError: division by zero

In [8]:
print(hello)

NameError: name 'hello' is not defined

In [9]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [12]:
import random
random.sample([1, 2, 3, 4, 5])

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [13]:
random.sample([1, 2, 3, 4, 5], 1, 2, 3, 4, 5)

TypeError: Random.sample() takes 3 positional arguments but 7 were given

In [14]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [17]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [18]:
numbers[100]

IndexError: list index out of range

In [19]:
my_dict = {
    'apple': '사과',
    'banana': '바나나',
}

In [20]:
my_dict['melon']

KeyError: 'melon'

In [22]:
import request

ModuleNotFoundError: No module named 'request'

## 예외처리

```python
try:
    code
except 예외에러명:
    code
```

In [29]:
try:
    number = int(input('숫자를 입력해주세요'))
    print(f'입력하신 {number}의 세제곱은 {number**3}입니다')
except:
    print('숫자를 입력해달라고!!!')

숫자를 입력해주세요 1

입력하신 1의 세제곱은 1입니다

In [34]:
try:
    num = int(input('100을 무엇으로 나누겠습니까'))
    print(f'100을 {num}으로 나눈 결과는 {100/num}')
except ValueError:
    print('입력한 데이터는 숫자가 아닙니다')
except ZeroDivisionError:
    print('모든 수는 0으로 나눌 수 없습니다')

100을 무엇으로 나누겠습니까 0

모든 수는 0으로 나눌 수 없습니다

In [35]:
try:
    numbers = range(2)
    numbers[1]
except:
    print('오류입니다')
else:
    print('여기는 else입니다')

여기는 else입니다

In [38]:
try:
    numbers = range(2)
    numbers[100]
except:
    print('오류입니다')
finally:
    print('여기는 else입니다')

오류입니다
여기는 else입니다

In [42]:
def my_div(a, b):
    try:
        return a/b
    except (ValueError, TypeError):
        return '숫자를 넣어주세요'

my_div('1', '2')

'숫자를 넣어주세요'

In [44]:
def my_div(a, b):
    try:
        return a/b
    except (ValueError, TypeError):
        return '숫자를 넣어주세요'
    except (ZeroDivisionError):
        return '0으로 나눌 수 없습니다'
    except:
        return '무엇인가 잘못되었습니다'
my_div(1, 0)

'0으로 나눌 수 없습니다'